.kapcho-header {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 480px;
  background: #000000 url(/img/mainback.jpg) 50% 50%;
  background-size: cover;
  outline: 0;
  margin-bottom: 20px;
}

#TA_cdsscrollingravewide774,
#CDSSCROLLINGRAVE {
  width: 100% !important;
  height: 55px;
  background: #ffffff;
}

.kapcho-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 15;
  border-bottom: 1px solid silver;
}

.social-links {
  text-align: center;
  margin-bottom: 5px;

  a {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    &:hover {
      text-decoration: none;
    }

    svg {
      width: 48px;
      height: 48px;
      fill: white;
      color: transparent;
      border: 2px solid #ffffff;
      background: rgba(0, 0, 0, 0.2);
      .radius {
        fill: currentColor;
      }
    }
  }
}

.navbar {
  padding: 20px;
  margin: 0;
  transition: all .4s;
  &.affix {
    background-color: #000000;
  }
}

.nav > li {
  margin: 0 8px;
  > a {
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    &:hover, &:active {
      border-color: $navbar-default-link-color;
    }
  }
  &.active a {
    border-color: $navbar-default-link-color;
  }
}

.navbar-phone {
  float: right;
  color: $navbar-default-link-color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $navbar-default-link-color;
    text-decoration: none;
  }
  @media (min-width: $screen-lg-min) {
    margin-right: 75px;
  }
}

.navbar-language {
  float: left;
  color: $navbar-default-link-color;
  text-transform: uppercase;
  user-select: none;
  width: 60px;
  overflow: hidden;

  label{
    display: inline;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + a {
      display: inline;
    }
  }

  a{
    color: $navbar-default-link-color;
    display: none;
    &:hover, &:active, &:focus {
      color: $navbar-default-link-color;
      text-decoration: none;
    }
  }

  @media (min-width: 992px) {
    margin-left: 100px;
  }

  @media (min-width: 1200px) {
    margin-left: 180px;
  }
}

.navbar-toggle {
  float: left;
  margin: 0;
  padding: 3px 10px;
  z-index: 100;
  transform: rotate(0);
  transition: .5s ease-in-out;
  cursor: pointer;

  .icon-bar {
    transition: .25s ease-in-out;
  }

  &.opener .icon-bar {

    &:nth-child(1) {
      position: absolute;
      top: 10px;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      position: absolute;
      top: 6px;
      transform: rotate(-135deg);
    }
  }
}

.navbar-icon-phone {
  height: 23px;
  width: 23px;

  .icon-phone {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

.navbar-collapse {
  box-shadow: none;
}

.kapcho-logo {
  width: 400px;
  margin: 0 auto;
  padding-top: 60px;

  @media (max-height: 800px) {
    width: 270px;
  }

  @media (max-width: $screen-sm-min) {
    width: 220px;
    padding-top: 50px;
  }
}

.navbar-nav {
  position: absolute;
  left: calc(50% - 280px);
}

.navbar-collapse.open-menu {
  display: table;
  overflow-y: auto;
  ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.97);
  }
}

.TA_cdsscrollingravewide {
  width: 100%;
  span.cls::before {
    content: "1";
    visibility: hidden;
  }
  > div {
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 #b7b7b7;
    > div {
      border-right: 1px solid #b7b7b7;
      padding-right: 12px;
      float: left;
    }
  }
}