.kap-section-text {
  padding: 30px;
}

.kap-line-bottom {
  width: 100px;
  height: 2px;
  color: #000000;
  background-color: #000000;
  border: 0;
  opacity: .2;
}

section.container, section#kapcho-gallery {
  margin-bottom: 60px;
}